<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unifimes.tcc.nobolso">

    <!-- android:windowSoftInputMode=”adjustResize” -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListUserActivity"
            android:label="@string/title_activity_List" />
        <activity
            android:name=".adapter.ImageAdapter1Activity"
            android:label="@string/title_activity_tela1" />
        <activity
            android:name=".adapter.ImageAdapter2Activity"
            android:label="@string/title_activity_tela2" />
        <activity
            android:name=".activity.CadtransacaoActivity"
            android:label="@string/title_activity_cadtransacao"
            android:parentActivityName=".activity.MainActivity">
            //Usado para o botão voltar da ActionBar
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.RelatoriosActivity"
            android:label="@string/title_activity_relatorios"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CategoriasActivity"
            android:label="@string/title_activity_categorias"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.dbteste"
            android:label="@string/title_activity_dbteste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListaTransacoesActivity"
            android:label="@string/title_activity_lista_transacoes"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CadcategoriaActivity"
            android:label="@string/title_activity_cadcategoria"
            android:parentActivityName=".activity.MainActivity"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />
    </application>

</manifest>
